.hyfeedContent {
    display: flex;
    padding: 0 80px;
}

.header {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

.iconHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconHeader i {
    font-size: 25px;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

@media (max-width: 768px) {
    
    .header {
        display: flex;
    }

    .hyfeedContent {
        padding: 0;
    }

    .right {
        display: none;
    }

    .left {
        flex: 1;
    }
}