.doge {
    position: fixed;
    bottom: 0;
    right: 100px;
    width: 80px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

.hidden {
    transform: translateX(200px);
    opacity: 0;
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 768px) {
    .doge {
        display: none;
    }
}