.hypo {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}


.boxchat {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 20px;
    bottom: 10px;
    width: 450px;
    height: 450px;
    border: 1px solid var(--grey-2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.header i {
    cursor: pointer;
    color: var(--grey);
    padding: 2px;
}

.closeIcon {
    background-color: var(--grey-2);
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.suggestion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hypoIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.listItem:hover {
    background-color: var(--grey-2);
}

.listItem i {
    font-size: 20px;
}

.inputChat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--grey-2);
    padding: 10px 15px;
    border-radius: 15px;
}

.inputChatFocused {
    border: 2px solid black !important;
}

.inputChat input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.inputChat input::placeholder {
    color: var(--grey);
    font-family: 'Open Sans', sans-serif;   
}

.buttonList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attachButton {
    display: flex;
    align-items: center;
    gap: 5px;
}

.attachButton i {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.attachButton i:hover {
    background-color: var(--grey-2);
}

.sendButton {
    cursor: pointer;
}

.sendButton:hover {
    color: var(--grey);
}

@media (max-width: 768px) {
    .hypo {
        bottom: 80px;
    }
    .boxchat {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}