.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 1px solid var(--grey-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.navbar {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

.version {
    font-size: 14px;
    color: var(--grey);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.link:hover {
    background-color: var(--grey-2);
}

.links i {
    font-size: 25px;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--grey-2);
    padding: 8px;
    border-radius: 10px;
}

.accountName {
    font-size: 15px;
    font-weight: 600;
}

.accountEmail {
    font-size: 14px;
    color: var(--grey);
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.account i {
    cursor: pointer;
    color: var(--grey);
    position: relative;
    top: -10px;
}


.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
    }

    .avatarCircle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .navbar i {
        font-size: 30px;
    }
}

