.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
}

span i {
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--grey-2);
}

.onlineCount {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--grey-2);
    font-size: 14px;
}

.present {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tableCol {
    display: grid;
    row-gap: 15px;
    align-items: center;
}

.tableCol:not(:first-child) {
    text-align: center;
}

.presentList {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.username {
    font-size: 15px;
    font-weight: 500;
}

.tableHeader {
    font-size: 15px;
}

.checkIn, .status {
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.status i {
    font-size: 12px;
    color: var(--green)
}

.birthDay {
    font-size: 14px;
    font-weight: 400;
}